html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #161617;
    border-top: 1px solid #212121;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.noPadding{
    padding:0px !important;
}

.errorInput{
    border-color: #a94442;
    box-shadow: 0px 0px 3px #a94442;
}
.help-block{
    color: #a94442;
    font-style: oblique;
}

/*view login*/
.form-control-feedback-left{
    left: 0px !important;
}
.form-login input{
    padding-left: 30px;
}
.form-login .field-loginform-rememberme label{
    color: white !important;
}
.content-login {
    border: 2px solid #233A7D;
    border-radius: 10px;
    border-bottom: 20px solid #233A7D;
}
.form-login h1{
    color: #233A7D;
}
.form-login .icon-key{
    background-image: url("../images/key.png");
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: 20px;
    background-repeat: no-repeat;
    top: 7px;
    left: 5px;
}
.form-login .text-bold{
    font-weight: bold;
}
a.content-img-user{
    padding: 0 !important;
}
a.content-img-user > img.img-user{
    margin-top: 10px;
}
.containerSearch{
    width: 100%;
    float: left;
    background: red;
    position: absolute;
    z-index: 10;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contentSearchLabel{
    width: 100%;
    float: left;
    padding: 4px 10px;
    background: whitesmoke;
}
.contentSearchLabel:hover{
    color: white;
    cursor: pointer;
    background: #141414;
}
.sticky-footer{
    background: #4e73df;
    color: white;
    
    bottom: 0;
    width: 100%;
}
.barra-menu{
    color: #4e73df;
}
.absolute-footer{
    position: absolute;
}

.user-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    left: 0px !important;
    color: black;
}
.sticky-footer a{
    color: white;
    font-weight: bold;
}

.collapse-item{
    cursor: pointer;
}
.texto-success{
    color: green !important;
}
.contentLogin{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    margin-top: 30px;
    padding-bottom: 15px;
}

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }


  .loader-txt {
    p {
      font-size: 13px;
      color: #666;
      small {
        font-size: 11.5px;
        color: #999;
      }
    }
  }

  .is-invalid-select2{
      background: red !important;
  }